.movieCard {
  border-radius: 17px;

  flex: 1;
  overflow: hidden;

  .imageContent {
    position: relative;
  }

  .titleContent {
    display: none;
    position: absolute;
    bottom: 30px;
    color: white;
    left: 30px;
  }
  .image {
    object-fit: fill;
    height: 450px;
    width: 100%;
  }

  &:hover {
    .imageContent {
      .image {
        filter: blur(5px);
      }
      .titleContent {
        display: block;
      }
    }
  }
}
